/* css reset */
*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
*:after,*:before{box-sizing: border-box;}
ul,ol{list-style: none ;}
a{color: inherit;text-decoration: none;}
img{max-width: 100%;max-height: 100%;}
/* style */
body{
    background-color:#eeeeee;
}
.globalHeader{
    margin: 20px;
}
@media(min-width:500px){
    .globalHeader{
        margin: 80px 0 100px 0;
    }
}
.searchform{
    display: flex;
    justify-content: space-between;
}
/* 如果最小宽度大于500，那么搜索框的最大宽度不能超过400px */
@media(min-width:500px){
    .searchform{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.searchform > input{
    width:100%;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0 10px;
}
.searchform  > button{
    white-space:nowrap;
    padding: 0 16px;
    background: #2FA5D8;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    
}

.globalMain{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
/* 整个第二部分最外面的盒子 */
.siteList{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(min-width:500px){
    .siteList{
        margin-left: 0px;
        margin-right: -25px;
        justify-content: flex-start;
    }
}
/* ul里的li */
.siteList > li{
margin-bottom: 10px;
}
@media(min-width:500px){
    .siteList > li{
        margin-right: 25px;
        }
}
/* li里面的div盒子 */
.siteList .site{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px 0;
    position: relative;
    cursor: pointer;
}
/* li中装logo的div */
.siteList .site > .logo{
    font-size: 72px;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* li中装链接的盒子 */
.siteList .site > .link{
    font-size: 12px;
    margin-top: 4px;
}
/* 关闭按钮 */
.siteList .site > .close{
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    cursor: default;
}
.siteList .site:hover > .close{
    display: block;
}
/* 最后一个添加模块 */
.siteList .addButton{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
    background-color: white;
}
/* 设置要添加的加号icon的宽度和高度 */
.siteList .addButton .icon{
    width: 72px;
    height: 72px;   
}
.siteList .addButton .iconWrapper{
    width: 72px;
    height: 72px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList .addButton .text{
    font-size: 12px;
    margin-top: 4px;
}
